@model IEnumerable<EmpReManagement.ViewModel.DepartmentViewModel>
@* @model List<EmpReManagement.ViewModel.DepartmentViewModel> *@
@{
    ViewData["Title"] = "All Departments";
}
<style>
    tr {
        font-size: 14px !important;
    }
    .bg-white {
        border-top: 8px solid #0B5ED7 !important;
       border-radius:12px 12px 0 0;
    }    
</style>
<div class="container">
    <partial name="_Notification" />
    <div class="row">
        <div class="col-md-8 mx-auto pt-4 px-4 bg-white" style="box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);">
            <h5 class="text-decoration-underline" style="text-underline-offset: 5px;">All Departments</h5>
             <a asp-controller="Department" asp-action="ExportDeptExcel" class="btn btn-primary btn-sm my-2" title="Export Excel ">Export</a>
             <a id="Printdept" class="btn btn-success btn-sm" title="Print Department "><i class="bi bi-printer"></i></a>
            
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mx-auto p-4" style="background:white">
            <table class="table table-striped table-bordered" id="deptTable">
                <thead>
                    <tr >
                        <th>#</th>                        
                        <th>Department</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        var sr = 1;
                        foreach (var dept in Model)
                        {
                            <tr>
                                <td>@sr</td>                                
                                <td>@dept.Name</td>
                                <td>
                                    <a asp-route-deptId="@dept.DepartmentId" asp-controller="Department" asp-action="DeptDetail"><i class="bi bi-building text-success fs-5"></i></a>&nbsp;&nbsp;
                                    <a asp-route-deptId="@dept.DepartmentId" asp-controller="Department" asp-action="Update" title="Update Record"><i class="bi bi-pencil-square fs-5"></i></a>&nbsp;&nbsp;
                                    <a  onclick="ConfirmDelete('@dept.DepartmentId')" title="Delete Record"><i class="bi bi-trash3 text-danger fs-5"></i> </a>
                                </td>                                
                            </tr>
                            sr++;
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    function ConfirmDelete(deptId)
    {
        // alert(`Department/Delete?deptId=${deptId}`);
        if(confirm("Are you sure you want to delete this department:"))
        {
            window.location.href=`Delete?deptId=${deptId}`;
        }      
      
    }
    //print department
    let Printdept = document.getElementById("Printdept");
    Printdept.addEventListener('click', function () {
        let url = '@Url.Action("PrintDepartment", "Department")';
        // window.location.href = url;
        window.open(url, "_blank", "height=1000, width=800")
    })
</script>